

body {
  /* background-color:#3B6EA5; */
  background-color: teal; 
  font-family: Tahoma;
  font-size: 12px
} 

#login_container {
    background-color: white; 
    position: absolute;
    overflow: auto;
    
    border-top: white;
    border-left: white;
    border-right: grey;
    border-bottom: grey; 
    border-radius: 1px;
    border-style: solid;
    
    width: 450px;
    height: 250px;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    display: flex; 
    flex-direction: column;
}

#login_banner {
    flex: 0 0 auto;
    margin: 0; 
    background-color: darkblue;
    background-image: linear-gradient(to right, darkblue, lightblue);
} 

#login_banner p{
    padding: 5px 5px 5px 5px;
    color: white;
    margin: 0;
} 

#login_logo {
    height: 75px;
}


#login_gradient {
    flex: 0 0 auto;
    height: 10px;
    background-color: darkblue;
    background-image: linear-gradient(to right,
        darkblue, 
        lightblue, 
        darkblue);

}

#login_input_container { 
    flex: 1;
    margin: 0;
    bottom: 0;
    background-color: lightgray;  

    display: grid;
    grid-template-columns: 75px 1fr;
    row-gap: 5px;
    align-content: start;
    align-items: center; 

    padding: 15px 100px 0 0;
}

#login_input_container label {
    padding-left: 10px;
}

.input_field {
    color: black; 
    box-sizing: border-box;

    border-top: darkgray;
    border-left: darkgray;
    border-right: lightgray;
    border-bottom: lightgray; 
    border-radius: 1px;
    border-style: solid;

    font-size: 12px;
    font-family: Tahoma;
} 

#options {
    grid-column: 2;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px; 
    padding-top: 10px;
}

#options button {
    background-color: lightgrey;

    border-top: white;
    border-left: white;
    border-bottom: darkgray;
    border-right: darkgrey; 

    border-style: solid;
    font-size: 12px;
    font-family: Tahoma;
}
